img {
    width: 450px;
    height: 450px;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
}

a {
    color: #000000
}

.detail {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0 0 0
}

.detail div {
    text-align: center;
}

h3, h4 {
    margin: 30px;
}

a:hover {
    color: darkred;
}

fa-icon {
    font-size: 50px;
    color: darkred;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .detail {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    img {
        width: 350px;
        height: 350px;
    }
    .container {
        display: flex;
        justify-content: center;
    }
}