img {
    width: 450px;
    height: 450px;
    box-shadow: 5px 5px 15px gray;
}

a {
    color: #000000
}

.detail {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0 0 0
}

.detail div {
    text-align: center;
}

h3, h4 {
    margin: 30px;
}

a:hover {
    color: darkred;
}

fa-icon {
    font-size: 50px;
    color: darkred;
}
