.favorite {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 40px
}

.favorite img {
    width: 100%;
    height: 80%;
    box-shadow: 5px 5px 15px gray;
    cursor: pointer;
    border-radius: 10px;
}

.favorite button {
    margin: 20px;
}

.image-0 {
    text-align: center;
    margin: 200px 0 0 0;
}

.image-all {
    margin: 50px 0 50px 0;
    padding-bottom: 70px;
}

a {
    color: white;
}

fa-icon {
    font-size: 20px;
    color: black;
    transition: transform .3s;
}

span {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 30px;
}

.image-all > p {
    cursor: pointer;
}

.infos {
    display: flex;
    justify-content: space-between;
}

.infos > p {
    cursor: pointer;
}

fa-icon:hover {
    transition: all .8s;
    transform: scale(1.2);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .favorite {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .favorite {
        grid-template-columns: repeat(1, 1fr);
    }
}