<div>
    <div class="image-all" *ngIf="datas.length > 0">
        <div class="infos">
            <p (click)="removeAllFavorites()">Tout supprimer</p>
            <p>Nombre d'image(s) en favoris : {{ numberFavorite }} </p>
        </div>
        <div class="favorite">
            <div *ngFor="let data of datas">
                <img [src]="'assets/resources/' + data + '.jpg'" alt="" routerLink="../image/{{data}}">
                <span (click)="removeFavorite(data)">
                    <fa-icon [icon]="remove"></fa-icon>
                </span>
            </div>
        </div>
    </div>

    <div class="image-0" *ngIf="datas.length === 0">
        <p>Aucune image dans vos favoris</p>
    </div>
</div>