/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    width: 90%;
    font-family: arial, serif;
    max-width:1280px;
    min-height:100%;
    position:relative;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}