<select (change)="changeNumberItemsPerPage($event)">
    <option value="{{ keys.length }}" selected>Select number item per page</option>
    <option *ngFor="let num of numberItem" value="{{ num }}">{{ num }}</option>
</select>

<div *ngIf="list.length < 119">
    <button (click)="previousPage()">Précedent</button>
    <button (click)="nextPage()">Suivant</button>
</div>

<div class="block">
    <div *ngFor="let img of list; let i = index">
        <img [src]="'assets/resources/' + img + '.jpg'" alt="{{ img }}">
        {{ i }}
    </div>
</div>